<% if user_signed_in? %>

<p style="color: green"><%= notice %></p>
<center>
<% content_for :title, "Comments" %>

<h1>Your Comments</h1>

<div id="comments">
  <% @comments.select { |comment| comment.user_id == current_user.id }.reverse.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", comment %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_comment_path %>
</center>
<% end %>
