 
 
<% if user_signed_in? %>

<% content_for :title, "New comment" %>

<h3>New comment</h3>

<%= render "form", comment: @comment %>

<br>
<center>

<div>

  <%= link_to "Back", "#", class: "btn btn-secondary", onclick: "history.back();" %>
</div>
<center>
<% end %>
