<br>
<h1><center> Welcome  </center> </h1>
<h2> <center> This is a Music Application Project</center> </h2> 
<h3> <center>  Sign up with us </center> </h3>
<h4> <center> It is free  </center> </h4>

<br>
<center> <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %></center>
<br>
<center> <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %></center>
