<center> <h1>Songs </h1> </center>
<hr>

<br>

  <% @song.reverse.each do |song| %>
      
      <%= render partial: "audio_player", locals: { song: song } %>
     
  <% end %>

<br>
<br>
<br>
<center><h3> Click on the button below to add a new song <br>
<%= link_to "New song", new_song_path %> </center> </h3>