 <% if user_signed_in? %>

<center> <h3>Songs </h3> </center>
<hr>

<br>

  <% @song.reverse.each do |song| %>
      
      <%= render partial: "audio_player", locals: { song: song } %>
      
     
  <% end %>

<br>
<hr>
<br>
<center><h4> Click on the button below to add a new song <br>
<%= link_to "New song", new_song_path %> </center> </h4>


  <% end %>