
 <% if user_signed_in? %>
 <!--  advises -->
<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>
<center>
<h2>My Posts</h2>

<hr>


<div id="posts">
  <% @posts.reverse.each_with_index do |post, index| %>
     
      

    <% if post.user && post.user.id == current_user.id %>
      <%= render post %>
    <% end %>  
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
</center>
<% end %>
</div>
</div>