<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>
<center>
<h2>My own Posts</h2>
<hr>
<h2> Included: image, description and comments </h2>
</center>
<div id="posts">
  <% @posts.each do |post| %>
    <% if post.user && post.user.id == current_user.id %>
      <%= render post %>
      <br>
    <% end %>
  <% end %>
</div>

<center>
<%= link_to "New post", new_post_path %>
</center>