<% if user_signed_in? %>
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "My Posts" %>

  <center>
    <h2>My Posts</h2>
    <hr>

    <div id="posts">
      <% @posts.each do |post| %>
        <% if post.user_id == current_user.id %>
          <%= render post %>
        <% end %>
      else
        <p>No posts found.</p>
      <% end %>
    </div>

    <%= link_to "New post", new_post_path %>
  </center>
<% else %>
  <p>Please <%= link_to "sign in", new_user_session_path %> to see your posts.</p>
<% end %>
