<div class="container">
<div class="container-fluid d-flex align-items-center justify-content-center">

<div class="col-8 col-md-8">

  <% if user_signed_in? %>
  <h3 class="card-title text-center">New Post</h3>
    <hr>
  <center>
  <%= render "form", post: @post %>
  </center>
<% end %>
    </div>
    </div>
    </div>
  
    