<div class="container-fluid d-flex align-items-center justify-content-center">

<div class="col-12 col-md-6">

<% content_for :title, "New Post" %>

<div class="container">
  <h1 class="card-title text-left">New Post</h1>
  <hr>
  <%= render "form", post: @post %>
</div>

<div class="text-center mt-3">
  <%= link_to "Back to posts", posts_path, class: "btn btn-secondary" %>
</div>

<div class="text-center mt-3">
  <%= link_to "New Song", new_song_path, class: "btn btn-danger" %>
</div>